td {
    padding: 5px 10px;
}

tr:nth-child(odd) {
    background-color: #EAEAEA;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

td {
    border: 1px solid #A1A1A1
}

thead {
    font-weight: 900;
}